<%= form_for :user, url: users_path do |f|  %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <%= f.label :firstname %> <br>
  <%= f.text_field :firstname %>
  <br>
  <%= f.label :lastname %> <br>
  <%= f.text_field :lastname %>
  <br>
  <%= f.label :email %> <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label :email_confirmation %> <br>
  <%= f.text_field :email_confirmation %>
  <br>
  <%= f.label :password %> <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %> <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.label :country %> <br>
  <%= f.text_field :country %>
  <br>
  <%= f.label :city %> <br>
  <%= f.text_field :city %>
  <br>
  <%= f.label :street %> <br>
  <%= f.text_field :street %>
  <br>
  <%= f.label :homenumber %> <br>
  <%= f.text_field :homenumber %>
  <br>
  <%= f.submit "Save" %>
<% end %>
